<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Postify</h1>
    <hr>
    <form method="POST" action="/posts/<%=post.id %>?_method=PATCH">

        <p>
            <label>Username:</label>
            <strong>
                <%= post.username %>
            </strong>
        </p>

        <p>
            <label for="content">Content</label>
            <textarea name="content" id="content" rows="3" cols="35"><%= post.content %></textarea>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>

    </form>
</body>

</html>