body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FF4F4F;
    text-align: center;
    margin-top: 1rem;
}

.user {
    font-style: italic;
    color: #6BB4FF;
    margin-bottom: 0.3rem;
}

.post {
    background: #131313;
    color: #EDEDED;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    margin: 1rem auto;
    border: 1px solid #2A2A2A;
    max-width: 650px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.content {
    margin-top: 0.4rem;
    line-height: 1.5;
    color: #D7D7D7;
}

.new-post-link {
    display: block;
    margin: 2rem auto;
    text-align: center;
    width: fit-content;
    padding: 0.6rem 1rem;
    background: #202225;
    color: #4A90E2;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #2F2F2F;
    transition: 0.2s;
}

.new-post-link:hover {
    background: #2A2D33;
    color: #70B2FF;
}

a {
    color: #4A90E2;
    text-decoration: none;
    font-size: 0.95rem;
    margin-right: 0.5rem;
}

a:hover {
    text-decoration: underline;
    color: #70B2FF;
}